@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto&family=Roboto+Slab:wght@300&display=swap");

body {
  margin: 0;
  background-color: #161616;
  font-family: Roboto, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
