.songs-card {
  display: flex;
  justify-content: center;
  color: #fff;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  max-width: 44rem;
  height: 5rem;
  background-color: #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.songs-card:hover {
  background-color: #555;
  cursor: pointer;
}

.songs-card-content {
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.songs-title {
  margin-left: 0.5rem;
  font-size: 1rem;
}

@media (max-width: 818px) {
  .songs-card {
    width: 22rem;
  }
}

@media (max-width: 361px) {
  .songs-card-content {
    width: 20rem;
  }
}
