.modal-background {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 25, 25);
  width: 50%;
  border-radius: 0.3rem;
  padding: 5rem;
}

.create-playlist-button {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #e30085;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}

.create-playlist-heading {
  font-size: 1.5rem;
  color: #fff;
}

.create-playlist-button:hover {
  background-color: #f36ca7;
}
