.songs-title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.songs-page-title {
  color: #fff;
}

.songs-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.songs-list {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.search-songs {
  display: flex;
  justify-content: center;
}

.user-song-details {
  color: #999;
}

.home-from-songs-link {
  color: #fff;
}

@media (max-width: 430px) {
  .addsong-header {
    visibility: hidden;
  }
}
